
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Sobre</h2>
</div>
<h2 class="badge bg-primary text-wrap" style="width: 35rem;">Desenvolvido por: Felipe de Andrade Nascimento</h2>
    <div class="col-md-12" style="border:1px solid black; border-radius:5px">
        
        <br />
        <p>Sobre o desenvolvedor:</p>
        <p>
            Felipe A. Nascimento é programador para plataformas web desde 2003, iniciou suas práticas com as linguagens HTMl, ASP 3 e SQL Server 2000,
            após com o surgimento do .NET, começou a estudar VB.NET. Tirou uma certificação Microsoft e direcionou sua carreira a trabalhos
            como OutSourcing, atuando em manutenções nas aplicações usando C# e bancos de dados SQL e Oracle;
        </p>
    </div>
<br /><br /><br /><br /><br />